<h1>This is the Home Page of the greatest Football team in College history, Michigan Wolverines</h1>



<div>
  <h1 class="hometitle">This is the 2018 team</h1>
  <%= image_tag ("team_imgs/wolverine_team.jpg") %>
</div>




