<h1>This is the About Page About the greatest Football team in College history, Michigan Wolverines</h1>



<div>
  <h1 class="hometitle">This is the Quarterback</h1>
  <%= image_tag("team_imgs/shea_p.jpg") %>
</div>